﻿<!DOCTYPE html>
<html data-ng-app="CalculatorModule" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>CalculatorAngular</title>
    <link href="Style/bootstrap.css" rel="stylesheet" />
    <link href="Style/style1.css" rel="stylesheet" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/CalculatorApp.js"></script>
</head>
<body>

    
    
    <div data-ng-controller="OperatorsCtrl" class="calculator">
        
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title" id="panel-title">
                    <input type="text" value="{{memory}}" placeholder="memory" class="displ displ-mem" readonly="readonly"/>
                    <input type="text" value="{{expression}}" placeholder="0" class="displ" readonly="readonly"/>
                <a class="anchorjs-link" href="#panel-title"><span class="anchorjs-icon"></span></a></h3>
            </div>
            <div class="panel-body row">
                <div class="col-md-5">

                    <input type="button" data-ng-click="Count()" value="=" class="btn btn-success btn-sm" />
                    <input type="button" data-ng-click="Cancel()" value="CE" class="btn btn-success btn-sm" />
                    <br />
                    <input type="button" data-ng-click="Clear()" value="C" class="btn btn-danger btn-sm" />
                    <input type="button" data-ng-click="Delete()" value="←" class="btn btn-danger btn-sm" />

                    <br />
                    <div class="keyboard" ng-repeat="x in digits">
                        <input type="button" value="{{i}}" data-ng-click="PrintDigit(i)" class="btn btn-info btn-sm" ng-repeat=" i in x" />
                        <br />
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="keyboard" ng-repeat="x in operators">
                        <input type="button" value="{{i}}" data-ng-click="PrintOperator(i)" class="btn btn-warning btn-sm" ng-repeat="i in x" />
                        <br />
                    </div>
                </div>

                <div class="col-md-4">
                    <div ng-repeat="x in special">
                        <input type="button" value="{{i}}" ng-repeat="i in x" data-ng-click="CountSpec(i)" class="btn btn-primary btn-sm" />
                    </div>
                </div>
            </div>
            <div class="panel-footer">Story: {{ResultsArr}}</div>
        </div>
    </div>


</body>
</html>
