﻿
.calculator{
    width: 35%;
    margin: 1%;
}

.btn{
    width: 40px;
    height: 40px;
}

.displ{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.00);
    border: none;
    font-size: 20px;
    margin: 1%;
}

.displ-mem{
    font-size: 15px;
}

.col-md-3, .clo-md-4, .col-md-5{
    padding-left: 10px;
    padding-right: 0;
}